[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pydantic = "*"
beautifulsoup4 = "*"  # bs4 is alias
requests = "*"
lxml = "*"

[dev-packages]
alembic = "*"
pytest = "*"
codecov = "*"
pytest-cov = "*"
build = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"  # Gotcha: make sure this matches global OS python version
