[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
typer = "*"
pydantic = "*"
beautifulsoup4 = "*"  # bs4 is alias
requests = "*"
lxml = "*"
pure-sql = {editable = true, path = "/Users/Q187392/dev/s/private/py-pure-sql"}

[dev-packages]
alembic = "*"
pytest = "*"
codecov = "*"
pytest-cov = "*"
build = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
